@model CDPReporting.Business.Models.QuestionResponseModel

        
        <div class="form-horizontal">
            <h3>@Model.Caption</h3><p><b>@Model.QuestionText</b></p>


            <div class="form-group">
                <div class="col-md-12">

                    @foreach (var item in Model.OptionList.OptionCSVText)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" value="@item">@item </label>
                        </div>
                    }
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-10 col-md-12">
                <button id="Save" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary">Cancel</button>
            </div>
        </div>
        </div>
            
