
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#GovernanceAnswertable').DataTable({
            paging: false,
            searching: false,
            destroy: true,
            "ajax": {
                "url": "/Questionnaire/GetQuestionData?questionId=CC1.2a",
                "type": "GET",
                "datatype": "json"
            }
            ,
            "columnDefs": [{
                "targets": [ 0 ],
                "visible": false
            }
            ]
            ,
            "columns": [
                    { "data": "GridIndexId", "autoWidth": true },
                    { "data": "GridCol1", "autoWidth": true },
                    { "data": "GridCol2", "autoWidth": true },
                    { "data": "GridCol3", "autoWidth": true },
                    { "data": "GridCol4", "autoWidth": true },
                    //{ "data": "City", "autoWidth": true },
                    //{ "data": "PostalCode", "autoWidth": true }
            ]
        });
    });

</script>
<div id="CC1.2a" class="form-group">
    <div class="row">
        <div class="col-md-12">
            <p><b>CC1.2a: 	Please provide further details on the incentives provided for the management of climate change issues</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="Governancetable" class="table table-bordered">

                <thead class="cf">
                    <tr>
                        <!--<th style="width:5%" bgcolor="#A9A9A9"  data-field="state" data-radio="true"></th>-->
                        <th style="width:25%" bgcolor="#A9A9A9" data-field="name">Who is entitled to benefit from these incentives?</th>
                        <!--<th style="width:5%" bgcolor="#A9A9A9" data-field="state" data-radio="true"></th>-->
                        <th style="width:25%" bgcolor="#A9A9A9" data-field="starts">The type of incentives</th>
                        <!--<th style="width:5%" bgcolor="#A9A9A9" data-field="state" data-radio="true"></th>-->
                        <th style="width:20%" bgcolor="#A9A9A9" data-field="forks">Incentivized performance indicator</th>
                        <th style="width:15%" bgcolor="#A9A9A9">Comment</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!--<input type="checkbox" name="radioGroupSub">Board chairman -->

                            <div id="Question_CC12a_Col1" class="dropdown">
                                @*<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Select from
                                        <span class="caret"></span>
                                    </button>*@
                                @*<ul class="dropdown-menu">
                                        <li><a href="#">Board chairman</a></li>
                                        <li><a href="#">Board/Executive board</a></li>
                                        <li><a href="#">Director on board</a></li>
                                        <li><a href="#">Chief Executive Officer (CEO)</a></li>
                                        <li><a href="#">Chief Financial Officer (CFO))</a></li>
                                        <li><a href="#">Chief Operating Officer (COO)</a></li>
                                        <li><a href="#">Chief Purchasing Officer (CPO)</a></li>
                                        <li><a href="#">Other C-Suite Officer</a></li>
                                        <li><a href="#">President</a></li>
                                        <li><a href="#">Executive officer</a></li>
                                        <li><a href="#">Management group</a></li>
                                        <li><a href="#">Business unit managers</a></li>
                                        <li><a href="#">EHS manager</a></li>
                                        <li><a href="#">Buyers/purchasers</a></li>
                                        <li><a href="#">Energy managers</a></li>
                                        <li><a href="#">Environment/Sustainability managers</a></li>
                                        <li><a href="#">Facility managers</a></li>
                                        <li><a href="#">Process operation managers</a></li>
                                        <li><a href="#">Procurement manager</a></li>
                                        <li><a href="#">Public affairs managers</a></li>
                                        <li><a href="#">Risk managers</a></li>
                                        <li><a href="#">All employees</a></li>
                                        <li><a href="#">Other, please specify</a></li>
                                    </ul>*@
                                <select id="Question_CC12a_Col1_List" class="dropdown">
                                    <option value="Boardchairman">Board chairman</option>
                                    <option value="BoardExecutiveboard">Board/Executive board</option>
                                    <option value="DirectorOnboard">Director on board</option>
                                    <option value="ChiefExecutiveOfficer">Chief Executive Officer</option>
                                </select>
                            </div>

                        </td>

                        <td>
                            <div id="Question_CC12a_Col2" class="dropdown">
                                @*<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Select from
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Monetary reward</a></li>
                                        <li><a href="#">Recognition (non-monetary)</a></li>
                                        <li><a href="#">Other non-monetary reward</a></li>

                                    </ul>*@
                                <select id="Question_CC12a_Col2_List" class="dropdown">
                                    <option value="1">Monetary reward</option>
                                    <option value="2">BRecognition (non-monetary)</option>
                                    <option value="3">Director on board</option>
                                    <option value="4">Other non-monetary reward</option>
                                </select>
                            </div>

                        </td>

                        <td>
                            <!-- Build your select: -->
                            <select id="Question_CC12a_Col3_List" multiple="multiple">
                                <option value="1">Emissions reduction project</option>
                                <option value="2">Energy reduction project</option>
                                <option value="3">Energy reduction target</option>
                                <option value="4">Efficiency project</option>
                                <option value="5">Efficiency target</option>
                                <option value="6">Behavior change related</option>
                                <option value="7">Behavior change related indicator </option>
                                <option value="8">Environmental criteria included in purchases</option>
                                <option value="9">Supply chain engagement</option>
                                <option value="10">Other, please specify</option>
                            </select>
                        </td>
                        <td>
                            <textarea rows="5" id="Comment_CC12a"></textarea>
                        </td>

                    </tr>


                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="float:right">
            <button type="button" class="btn btn-primary pull-right" id="addMore">Add Row</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="GovernanceAnswertable" style="width:100px;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Incentives</th>
                        <th>Incentives Type</th>
                        <th>Performance indicator</th>
                        <th>Comment</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">            
            <button type="button" class="btn btn-primary pull-right" id="Question_CC1_2a_Cancel">Cancel</button>
            <button type="button" class="btn btn-primary pull-right" id="Question_CC1_2a_Save">Save</button>
        </div>
    </div>
