

<div>
    <h2>CC0.1: 	Introduction</h2>
    <p><b>Please give a general description and introduction to your organization [maximum 5000 characters]</b></p>
    <div></div>
    <label for="comment"></label>
    <textarea class="form-control" rows="5" id="comment"></textarea>

    <div class="btn-group pull-right">
        <button id="Save" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</div>