@model CDPReporting.Business.Models.QuestionResponseModel


<script type="text/javascript">
    $(document).ready(function () {
        $('input[name="daterange"]').daterangepicker();
        @*var str = '@Model.Value';
        var date = str.split("s");
        $('input[name="daterange"]').val(date[0]+"-"+date[1]);*@
        $("#Save").click(function () {
            var startDate = $('input[name="daterange"]').data('daterangepicker').startDate.format('YYYY-MM-DD');
            var endDate = $('input[name="daterange"]').data('daterangepicker').endDate.format('YYYY-MM-DD');
            var date = startDate + "s" + endDate;

            var qId = '@Model.QuestionId';
            var qType = 'DateRange';
            var yearVal = '@Model.Year';

            $.post('@Url.Content("~/Questionnaire/SaveQuestionResponse/")', { questionId: qId, answer: date, questionType: qType, year: yearVal }, function (data) {
                // $('#main').html(data);
            });
        });
    });
</script>

<div>
    <h2>CC0.2: 	Reporting Year</h2>
    <label for="comment">
        Please state the start and end date of the year for which you are reporting data
        <br />
        The current reporting year is the latest/most recent 12-month period for which data is reported.
    </label>
    <div class="col-md-8">
        <label class="col-md-4" for="comment">Seelct the Range</label>
        <input type="text" class="col-md-4" style="width:100%" name="daterange" value="01/01/2015 - 01/31/2015" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary pull-right" id="Cancel">Cancel</button>
            <button type="button" class="btn btn-primary pull-right" id="Save">Save</button>
        </div>
    </div>    
</div>