@model CDPReporting.Business.Models.QuestionResponseModel


<script type="text/javascript">
    $(function () {
        $('#Question_CC03_List').multiselect();
        $('#Save').click(function () {
            var countryList = $('#Question_CC03_List').val();
            var qId = '@Model.QuestionId';
            var qType = 'DateRange';
            var yearVal = '@Model.Year';

            $.post('@Url.Content("~/Questionnaire/SaveQuestionResponse/")', { questionId: qId, answer: countryList, questionType: qType, year: yearVal }, function (data) {
                // $('#main').html(data);
            });
        })
      

    });
</script>

<div>
    <h2>CC0.3: 	Country list configuration </h2>
    <p>
        <b>
            If you are responding to the Electric Utilities module, please select all countries <br />
            in which you operate from the drop down menu provided.This question should only to be <br />
            completed if you are  responding to the Electric Utilities module. If you are not responding<br />
            to the Electric Utilities module, you may leave this question blank if you wish to do so.
            <b>
    </p>

    <div class="button-group">
      

        <select id="Question_CC03_List" multiple="multiple">
            <option value="1">India</option>
            <option value="2">UK</option>
            <option value="3">USA</option>
            <option value="4">Japan</option>
            <option value="5">Germany</option>
            <option value="6">China</option>            
        </select>
</div>

    <div class="btn-group pull-right">
        <button id="Save" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</div>
