@model CDPReporting.Business.Models.QuestionResponseModel


<script type="text/javascript">
    $(function () {
        $('#groupone').multiselect();
    });
</script>

<div>
    <h2>CC0.3: 	Country list configuration </h2>
    <p>
        <b>
            If you are responding to the Electric Utilities module, please select all countries <br />
            in which you operate from the drop down menu provided.This question should only to be <br />
            completed if you are  responding to the Electric Utilities module. If you are not responding<br />
            to the Electric Utilities module, you may leave this question blank if you wish to do so.
            <b>
    </p>

    <div class="button-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>Selct Country</button>
        <ul id="" class="dropdown-menu">
            <li><a href="#" class="small" data-value="option1" tabindex="-1"><input type="checkbox" />&nbsp;India</a></li>
            <li><a href="#" class="small" data-value="option2" tabindex="-1"><input type="checkbox" />&nbsp;UK</a></li>
            <li><a href="#" class="small" data-value="option3" tabindex="-1"><input type="checkbox" />&nbsp;USA</a></li>
            <li><a href="#" class="small" data-value="option4" tabindex="-1"><input type="checkbox" />&nbsp;Japan</a></li>
            <li><a href="#" class="small" data-value="option5" tabindex="-1"><input type="checkbox" />&nbsp;Germany</a></li>
            <li><a href="#" class="small" data-value="option6" tabindex="-1"><input type="checkbox" />&nbsp;China</a></li>
        </ul>
    </div>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</div>
