
<div class="list-group">
   
    <div class="list-group-item-heading" style="cursor:pointer;">
        <h3 >CC0. Introduction page</h3>

        <div class="list-group-item-text" style="cursor:pointer;">
            <h4 >Introduction</h4>

            <div id="Question_CC0.1" class="list-group-item-text" style="cursor:pointer;">
                <p>CC0.1: Please give a general description and introduction to your organization [maximum 5000 characters].</p>
            </div><br />

            <div id="Question_CC0.2" class="list-group-item-text" style="cursor:pointer;">
                <p>CC0.2: Please state the start and end date of the year for which you are reporting data.</p>
            </div><br />

            <div id="Question_CC1.2a" class="list-group-item-text" style="cursor:pointer;">
                <p>CC1.2a: Please provide further details on the incentives provided for the management of climate change issues</p>
            </div><br />

        </div>

    </div>
    </div>


