 Questionbg:hover {
    background-color: #33FFE0;
}
      
 
/*.close-btn
{
    background:none; 
    border:none; 
    color:#FFF;
    cursor:pointer;
    font:normal 150%/1.4 Verdana, Geneva, sans-serif;
    outline:none; padding:0;
    -ms-transition:.5s all ease;
     -moz-transition:.5s all ease;
      -o-transition:.5s all ease; 
      -webkit-transition:.5s all ease;
       transition:.5s all ease;

}
.close-btn span	
{
    background:url(../images/popup-close-box.png) no-repeat center top;
     display:inline-block; 
     height:34px; 
     line-height:32px; 
     margin-left:.1em;
      width:35px;

}
.close-btn:hover
{
    color:#d1d3d4;

}*/ 


.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}


/*close btn*/
/*.ryt-side-nav			{position:relative;}
.ryt-side-nav  .close-btn  {position:absolute; right:5px; top:5px; font-size:96% }
.ryt-side-nav  .close-btn  button.close {background: #db2128;  border: 2px solid #b2b4b6;  border-radius: 100%;  content: "";  color: #FFF;  cursor: pointer; font-family: 'web_symbolsregular';
    font-size: 75% !important; height: 24px; line-height: 18px; margin-top: 2px; padding: 0;  text-align: center;  width: 24px; -ms-transition: .4s all ease-out;  -moz-transition: .4s all ease-out;
    -o-transition: .4s all ease-out;  -webkit-transition: .4s all ease-out;  transition: .4s all ease-out;}	
.ryt-side-nav .close-btn  .close:hover {background: #ff501e;}	
.ryt-side-nav  .close-btn  button b{display:none}*/




body {
  padding-top: 50px;
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}


body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 * Greater thav 768px shows the menu by default and also flips the semantics
 * The issue is to show menu for large screens and to hide for small
 * Also need to do something clever to turn off the tabs for when the navigation is hidden
 * Otherwise keyboard users cannot find the focus point
 * (For now I will ignore that for mobile users and also not worry about
 * screen re-sizing popping the menu out.)
 */
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 25%;
  }

  .row-offcanvas-left {
    left: 25%;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -25%; /* 3 columns */
  	background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -25%; /* 3 columns */
  	background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-right.active {
    right: 0; /* 3 columns */
  }

  .row-offcanvas-left.active {
    left: 0; /* 3 columns */
  }

  .row-offcanvas-right.active .sidebar-offcanvas {
  	background-color: rgb(254, 254, 254);
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
  	background-color: rgb(254, 254, 254);
  }

.row-offcanvas .content {
    width: 75%; /* 9 columns */
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;

  }

  .row-offcanvas.active .content {
    width: 100%; /* 12 columns */
  }
       
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 25%; /* 3 columns */
  }
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.togglebtn
{
   padding: 9px 10px;
    font-size: 10px;
    line-height: 0.5;
    border-radius: 7px;
    margin-top: 20px;
    margin-right: 16px;
}
}

.QuestionHead
{
    margin-bottom:10px;background-color: #428bca
}

.panelPosition{
    margin-left: 5px;
margin-right: 5px;
}

.btn-group:after, .pull-right:after, .flex-row .panel.panel-default.flex-col:after{background:none; border:none; content:''; clear:both; display:block; float:none; font-size:0; height:0; line-height:0; margin:0; padding:0; visibility:hidden; width:100%;}

ul {
display:table; margin:0 auto;
}


/*.stileone {
    background: red
}*/

.pre-scrollable {
    max-height:100%;
}

.content {
    background: none;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}


.panel-default {
    border-color: #dddddd;
    width: 100%;
}
.list-group {width: 100%;}
.list-group-item-text .active {
    background: #CCC;
    border-radius: 3px;
}
.table {
    margin-bottom: 10px;
}
.form-horizontal .control-label {
    margin-bottom: 5px;
}