<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="SMR_KMS_DB_DevEntities" connectionString="metadata=res://*/Entity.CDPReportingEntities.csdl|res://*/Entity.CDPReportingEntities.ssdl|res://*/Entity.CDPReportingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.57.76;initial catalog=SMR_KMS_DB_Dev;persist security info=True;user id=sa;password=Microsoft#1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="SMR_KMS_DB_DevEntities" connectionString="metadata=res://*/Entity.CDPReportingEntity.csdl|res://*/Entity.CDPReportingEntity.ssdl|res://*/Entity.CDPReportingEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.57.76;initial catalog=SMR_KMS_DB_Dev;persist security info=True;user id=sa;password=Microsoft#1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="SMR_KMS_DB_DevEntities" connectionString="metadata=res://*/Entity.CDPReportingEntity.csdl|res://*/Entity.CDPReportingEntity.ssdl|res://*/Entity.CDPReportingEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.57.76;initial catalog=SMR_KMS_DB_Dev;user id=sa;password=Microsoft#1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
